{
  "visualization": {
      "chartType": "{{first.main.vizType.value|explode:"/"|pop}}",
      "dataset": "{{first.main.dataset.value}}",
      "params": {
            "lon": "{{first.params.paramX.value}}",
            "lat": "{{first.params.paramY.value}}"
      },
      "sortcol": "",
      "manualdata": true,
      "width": 600,
      "height": 400,
      "readonly": false
  }
}
