{%include "../includes/header.inc"%}



<div class="container=fluid">
  <div class="row-fluid offset5 span4">
    <button class="btn btn-large btn-info" id="load-button" data-toggle="modal" data-target="#load-dialog">Import Dataset</button>
  </div>
  <div class="modal hide fade" id="load-dialog">
    <div class="modal-header">
      <h3>Import Dataset</h3>
    </div>
    <div class="modal-body">
      <legend for="dataset-url">URL of the dataset</legend>
      <input type="text" id="dataset-url" name="dataset-url" value="http://graves.cl/b.csv"/>
      <div class="collapse-group">
        <div class="collapse" id="load-progress">
          <h3 id="load-message">Loading...</h3>
          <div class="progress progress-striped active">
            <div class="bar" id="progress-bar" style="width: 0%;"></div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">Close</a>
        <a href="#" class="btn btn-primary" id="load-button-run" aria-hidden="true">Import Dataset</a>
      </div>
    </div>
  </div>
</div>
<script>
var msg = "", interval = null;

function requestStatus(id){
  console.log("requesting data");
  $.ajax({
    url:"/data",
    data: {
      key: id
    },
    success: function(data){
      if(data.msg == "error" || data.msg ==  false){
        $("#load-message").html("Error loading the dataset");
      }else{
        $("#load-message").html(data.msg);   
        newValue = "0";
        if(data.msg == "done"){
          newValue = "100";
          clearInterval(interval);
          window.location = home+"showDataset/"+data.url.replace("://", "/");
        }
        if(data.msg == "downloading"){
          newValue = "20";
        }
        if(data.msg == "converting"){
          newValue = "50";
        }
        if(data.msg == "loading"){
          newValue = "70";
        }
        msg = data.msg
        $("#progress-bar").css("width", newValue+'%');           
      }
    },
    error: function(){
      $("#load-message").html("Error loading the dataset");
      $("#progress-bar").css("width", '0%');           
      clearInterval(interval);
    }
  });
}

$("#load-button-run").on('click', function(e){
  $("#load-button-run").attr("disabled", true);
  $("#load-progress").collapse('toggle');
$.ajax({
    url:"/data",
    type: "POST",
    contentType: "application/x-www-form-urlencoded",
    data: {
      url: $("#dataset-url").val()
    },
    dataType: "json",
    success: function(data){
      id = data.msg;
      interval = setInterval(function(){requestStatus(id)}, 5000);
    },
    error: function(){
      $("#load-message").html("Error loading the dataset");
    }
  });
});
</script>
</body>
</html>
