<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>LODSPeaKr Basic Menu</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" media="screen" />
  <style>
  body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
  }
  .wait{
    background-image:url('img/wait.gif');
    background-repeat:no-repeat;
    padding-right:20px;
    background-position: right;
  }
  </style>
  <link href="css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css" media="screen" />
  <script type="text/javascript" src="js/jquery.js"></script>
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/bootstrap-typeahead.js"></script>
  <script type="text/javascript">
  $(document).ready(function(){
    $('.typeahead').typeahead({
      source: function (typeahead, query) {
        $('.typeahead').addClass('wait');[]
        return $.get('search/'+encodeURIComponent(query), { }, function (data) {
          $('.typeahead').removeClass('wait');[]
          return typeahead.process(data);
        }, 'json');
      },
      onselect: function (obj) {
        $('.typeahead').attr('disabled', true);
        window.location = obj.uri;
      }
    });
  });
  </script>
</head>
<body>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#">{{lodspk.title}}</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="classes">Classes</a></li>
          <li><a href="namedGraphs">Datasets</a></li>
        </ul>
        <form class="navbar-search pull-left" action="">
          <input type="text" data-provide="typeahead" class="typeahead search-query span2" placeholder="Search"/>
        </form>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
<button class="btn btn-large btn-info" id="load-button" data-toggle="modal" data-target="#load-dialog">Load Dataset</button>

<div class="container">
  <div class="modal hide fade" id="load-dialog">
    <div class="modal-header">
      <h3>Load Dataset</h3>
    </div>
    <div class="modal-body">
      <legend for="dataset-url">URL of the dataset</legend>
      <input type="text" id="dataset-url" name="dataset-url" value="http://graves.cl/b.csv"/>
      <div class="collapse-group">
        <div class="collapse" id="load-progress">
          <h3 id="load-message">Loading...</h3>
          <div class="progress progress-striped active">
            <div class="bar" id="progress-bar" style="width: 0%;"></div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">Close</a>
        <a href="#" class="btn btn-primary" id="load-button-run" aria-hidden="true">Load Dataset</a>
      </div>
    </div>
  </div>
</div>
<script>
var msg = "", interval = null;

function requestStatus(){
  console.log("requesting data");
  $.ajax({
    url:"/data",
    data: {
      key: id
    },
    success: function(data){
      console.log(data);
      if(data.msg == "error"){
        $("#load-message").html("Error loading the dataset");
      }else{
        $("#load-message").html(data.msg);   
        newValue = "0";
        if(data.msg == "idle"){
          newValue = "100";
          clearInterval(interval);
        }
        if(data.msg == "downloading"){
          newValue = "20";
        }
        if(data.msg == "converting"){
          newValue = "50";
        }
        if(data.msg == "loading"){
          newValue = "70";
        }
        msg = data.msg
        $("#progress-bar").css("width", newValue+'%');           
      }
    }
  });
}

$("#load-button-run").on('click', function(e){
  $("#load-button-run").attr("disabled", true);
  $("#load-progress").collapse('toggle');
$.ajax({
    url:"/data",
    type: "POST",
    contentType: "application/x-www-form-urlencoded",
    data: {
      url: $("#dataset-url").val()
    },
    dataType: "json",
    success: function(data){
      id = data.id;
      console.log(data);
      interval = setInterval(function(){requestStatus()}, 5000);
    }
  });
});
</script>
</body>
</html>
