body {
  background: #FFF;
  padding-bottom: 50px;
}

.grid{
  border: 1px solid grey;
}


table tr td {
	padding: 2px;
	border-color: gray;
	background-color: white;
}
td{
  max-width:550px;
  word-wrap: break-word;
}
table{
  width: 50%;
}
#map { 
  min-height: 200px;
}
.buttonContainer{
  min-height:50px;
  float:left;
  padding-top:40px;
  padding-bottom: 5px;
  width:100%;
  display:block;
  cursor:pointer;
}

.vizContainer{
  width: 100%;
}

.optionsBtn{
min-width:100px;
}

#share-link{
  font-size: 150%
}

.flot-base{
direction: ltr; position: absolute; left: 0px; top: 80px; width: 600px; height: 600px;
}

.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

.node circle {
  fill: #69699f;
  stroke: #fff;
  stroke-width: 1.5px;
}

text {
  font: 12px sans-serif;
  pointer-events: none;
}

.bigfont{
  font-size:150%;
}

svg{
  border: 1px solid grey;
}

.arrow{
  background-image: url("../img/vertical_arrow.png");
  background-repeat: no-repeat;
  background-position:center; 
  vertical-align: middle;
  min-height: 100px;
  margin: auto;
  margin-top: 50px;
  width:1100px;
  text-align: center;
}

.merged{
  background-image: url("../img/mix.png");
  background-repeat: no-repeat;
  background-position:center; 
  vertical-align: middle;
  min-height: 120px;
  margin: auto;
  margin-top: 50px;
  width:1100px;
  text-align: center;
}