body {
  background: #FFF;
}




table tr td {
	padding: 2px;
	border-color: gray;
	background-color: white;
}
td{
  max-width:550px;
  word-wrap: break-word;
}
table{
  width: 50%;
}
#map { 
  min-height: 200px;
  max-width: 550px;
}
.buttonContainer{
  float:right;
  position:relative;
  cursor:pointer;
}

.vizContainer{
  width: 700px;
}

.optionsBtn{
min-width:100px;
}

#share-link{
  font-size: 150%
}
