body {
  background: #FFF;
}

.grid{
  border: 1px solid grey;
}


table tr td {
	padding: 2px;
	border-color: gray;
	background-color: white;
}
td{
  max-width:550px;
  word-wrap: break-word;
}
table{
  width: 50%;
}
#map { 
  min-height: 200px;
}
.buttonContainer{
  min-height:50px;
  float:left;
  padding-top:40px;
  padding-bottom: 5px;
  width:100%;
  display:block;
  cursor:pointer;
}

.vizContainer{
  width: 100%;
}

.optionsBtn{
min-width:100px;
}

#share-link{
  font-size: 150%
}

.flot-base{
direction: ltr; position: absolute; left: 0px; top: 80px; width: 600px; height: 600px;
}

