{%include "../../includes/header.inc"%}
    <div class="container-fluid">
    <h1>Classes available</h1>
	<ul>
    {% for row in models.main %}
        <li><a href="{{lodspk.baseUrl}}showDataset/{{ row.dataset.value|urifier }}">{{row.dataset.curie}}</a></li>
    {% endfor %}
      </ul>
    </div>
  </body>
</html>
